{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>About</h3>
            <p>
                This is a blog site created by Ken Cox. It is a project for the Code Institute Full Stack Web Development
                course. The site is built using Django and Bootstrap. The blog is a place where I can share my thoughts
                and experiences as a software developer. I hope you find the content interesting and informative.
            </p>
        </div>
    </div>
</div>
{% endblock %}
